:root {
    --main-color: #14142D;
    --header-color: #13b4ca;
    --sider-color: #282945;
    --font-color: rgba(255, 255, 255, 0.65);
    --gray: #888;
    --black-color: #000;
    --darkgray: #f1f1f1;
    --darkgray-font-color: #909090;
    --heading-color: #000;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: var(--main-color) !important; */
}

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
} */